.show-title-img {background: url("../css/images/img.png") no-repeat;}
.tab3 {background-position: 0 0!important;}
.tab4 {background-position: 0 -45px!important;}
.tab1 {background-position: 0 -90px!important;}
.tab2 {background-position: 0 -135px!important;}
.md-img{background:url(../css/images/md-img.png) no-repeat;}
.t1{height:20px;width:79px;background-position:0 -20px!important;}
.t2{height:20px;width:79px;background-position:0 0!important;}
.t3{height:19px;width:79px;background-position:0 -61px!important;}
.t4{height:20px;width:79px;background-position:0 -40px!important;}
.d1{height:42px;width:178px;background-position:0 -123px!important;}
.d2{height:43px;width:204px;background-position:0 -209px!important;}
.d3{height:43px;width:204px;background-position:0 -166px!important;}
.d4{height:43px;width:139px;background-position:0 -80px!important;}