@charset "UTF-8";
@import 'images.scss';
//---------------- reset start -------------------------
abbr,
address,
article,
aside,
audio,
b,
blockquote,
body,
canvas,
caption,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
p,
pre,
q,
samp,
section,
small,
span,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
ul,
var,
video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
}
li,
ul {
    list-style-type: none;
}
html {
    line-height: 1;
    font-size: 1em;
}
:focus {
    outline: 1;
}
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary {
    display: block;
}
nav ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:after,
blockquote:before,
q:after,
q:before {
    content: '';
    content: none;
}
a {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    background: transparent;
    text-decoration: none;
}
ins {
    background-color: #ff9;
    color: #000;
    text-decoration: none;
}
mark {
    background-color: #ff9;
    color: #000;
    font-style: italic;
    font-weight: bold;
}
del {
    text-decoration: line-through;
}
abbr[title],
dfn[title] {
    border-bottom: 1px dotted #000;
    cursor: help;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #cccccc;
    margin: 1em 0;
    padding: 0;
}
input,
select {
    vertical-align: middle;
}
//---------------- reset end -------------------------
//---------------- mixins start -------------------------
@mixin center-ele($wid) {
    width: $wid + px;
    margin: 0 auto;
}
@mixin boxShadow($param...){
    -webkit-box-shadow: $param;
  -moz-box-shadow: $param;
  box-shadow: $param;
}
@mixin ellipsis() {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
@mixin marRight($right) {
    margin-right: $right + px;
}
@mixin f_l{
    float: left;
}
@mixin borderRadius($radius){
    border-radius: $radius;
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -o-border-radius: $radius;
    -ms-border-radius: $radius;
}
@mixin borderRadius-top($radius){
    border-top-left-radius: $radius;
    -webkit-border-top-left-radius: $radius;
    -moz-border-top-left-radius: $radius;
    -o-border-top-left-radius: $radius;
    -ms-border-top-left-radius: $radius;
    border-top-right-radius: $radius;
    -webkit-border-top-right-radius: $radius;
    -moz-border-top-right-radius: $radius;
    -o-border-top-right-radius: $radius;
    -ms-border-top-right-radius: $radius;
}
@mixin borderRadius-btm($radius){
    border-bottom-left-radius: $radius;
    -webkit-border-bottom-left-radius: $radius;
    -moz-border-bottom-left-radius: $radius;
    -o-border-bottom-left-radius: $radius;
    -ms-border-bottom-left-radius: $radius;
    border-bottom-right-radius: $radius;
    -webkit-border-bottom-right-radius: $radius;
    -moz-border-bottom-right-radius: $radius;
    -o-border-bottom-right-radius: $radius;
    -ms-border-bottom-right-radius: $radius;
}
@mixin ellipsis() {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
//---------------- mixins end -------------------------

//---------------- common start -------------------------
.hide{
    display: none;
}
.d-ib{
    display: inline-block;
}
#container {
    background: url("http://cdn01.51autoimg.com/apps/zhuanti.51auto.com/autoshow618.20160608/css/images/backline.png") repeat;
}
//---------------- common end -------------------------

//---------------- header start -------------------------
#header {
    img {
        width: 100%;
    }
}
//---------------- header end ---------------------------
//---------------- active-bar start -------------------------
#active-bar {
    padding-top: 86px;
    height: 263px;
    background: url("http://cdn01.51autoimg.com/apps/zhuanti.51auto.com/autoshow618.20160608/css/images/active.png") no-repeat center 86px;
}
//---------------- active-bar end ----------------------------
//---------------- show-box start -------------------------
#show-box {
    @include center-ele(1162);
    margin-bottom: 40px;
    .title {
        @extend .show-title-img;
        width: 100%;
        height: 44px;
        .btns{
            float: left;
            width: 223px;
            height: 100%;
            margin-right: 25px;
            cursor: pointer;
        }
    }
    .main {
        position: relative;
        width: 1124px;
        height: 647px;
        padding: 39px 0 0 34px;
        border: 2px solid #0d0509;
        border-top: none;
        background-color: #fdec06;
        @include boxShadow(1px 2px 2px #0d0509);
    }

    .seeMore-btn{
        position: absolute;
        bottom: 35px;
        left: 406px;
        width: 312px;
        height: 72px;
        margin: 0 auto;
        cursor: pointer;
        background: url('http://cdn01.51autoimg.com/apps/zhuanti.51auto.com/autoshow618.20160608/css/images/seemore.png') no-repeat;
    }
}
//------------------- show-box end -------------------------

//------------------- list start -------------------------
#show-box .list{
    height: 540px;
}
.list{
    @extend .hide;
    dl{
        position: relative;
        float: left;
        margin: 0 26px 27px 0;
        border: 2px solid #222;
        background-color: #222;
        @include boxShadow(1px 0px 2px #0d0509);
        .soldOut{
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: url(http://cdn01.51autoimg.com/apps/zhuanti.51auto.com/autoshow618.20160608/css/images/sold.png) no-repeat left top;
        }
    }
    dt{
        width: 248px;
        height: 160px;
        img{
            display: block;
            width: 100%;
            height: 100%;
        }
    }
    dd{
        width: 248px;
        height: 78px;
        background-color: #222;
        .tit{
            height: 42px;
            line-height: 42px;
            color: #fff;
            font-weight: bold;
            text-align: center;
            @include ellipsis;
        }
        .info{
            white-space: nowrap;
            color: #fff;
            text-align: center;
            b,.price{
                color: #ef4440;
                font-weight: bold;
            }
            b{
                font-size: 18px;
                margin-right: 4px;
            }
            .price{
                font-size: 26px;
                margin-right: 10px;
            }
            .year,.mile{
                font-size: 14px;
            }
        }
    }
}
//------------------- list end -----------------------------

//------------------- signUp start -------------------------
#signUp-box{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 97px;
    background-color: #241a17;
    .signUp{
        @include center-ele(1113);
        padding: 30px 0 0 49px;
        .tit{
            vertical-align: top;
            @include marRight(40);
            @extend .d-ib;
        }
        #name,#tel,#price{
            @extend .d-ib;
            width: 182px;
            height: 38px;
            @include marRight(36);
            padding-left: 15px;
            line-height: 38px;
            font-size: 23px;
            outline: none;
            border: none;
            @include borderRadius(5px);
        }
        #signUpForm{
            @extend .d-ib;
            vertical-align: top;
            input{
                @include f_l;
            }
        }
        .price-box{
            position: relative;
            @extend .d-ib;
        }
        #price{
            height: 40px;
            @include marRight(29);
            line-height: 40px;
            color: #a9a9a9;
            background: url('http://cdn01.51autoimg.com/apps/zhuanti.51auto.com/autoshow618.20160608/css/images/arrow.png') no-repeat #ffffff 169px 15px;
            cursor: pointer;
            &.active{
                color: #000; 
            }
        }
        .select{
            overflow: hidden;
            position: absolute;
            top: 0;
            width: 197px;
            height: 0;
            text-align: center;
            background: #fff;
            @include borderRadius(5px);
            .rds-top{
                @include borderRadius-top(5px);
            }
            .rds-btm{
                @include borderRadius-btm(5px);                    
            }
            li{
                height: 40px;
                font-size: 22px;
                color: #a9a9a9;
                line-height: 40px;
                cursor: pointer;
            }
        }
        .select li:hover{
            background: #f8ec49;
            color: #000;
        }
        
        #confirm-btn{
            cursor: pointer;
            img{
                height: 40px;
            }
        }
    }
}
//---------------- signUp end -------------------------


//---------------- footer start -------------------------
#footer{
    @include center-ele(1160);
    height: 273px;
    padding-bottom: 119px;
    background: url("http://cdn01.51autoimg.com/apps/zhuanti.51auto.com/autoshow618.20160608/css/images/rule.png") no-repeat;
}
//---------------- footer end -------------------------

//---------------- modal start -------------------------
#modal-box{
    @extend .hide;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    text-align: center;
    z-index: 999;
    .modal-back{
        position: fixed;
        left: 0px;
        right: 0px;
        top: 0px;
        bottom: 0px;
        background: rgba(43,46,56,.9);
        background: rgb(43,46,56)\0;
        filter:alpha(opacity=90); 
        z-index: -1;
    }
    .modal{
        position: relative;
        @extend .d-ib;
        margin-top: 69%;
        padding-bottom: 40px;
        width: 1152px;
        height: 1028px;
        background-color: #fdec06;
        @include boxShadow(8px 5px 14px #0d0509);
        .modal-overFlow{
            overflow: hidden;
            height: 811px;
        }
        .toTop{
            position: absolute;
            top: 900px;
            right: 110px;
            width: 31px;
            height: 79px;
            cursor: pointer;
            z-index: 999;
        }
        .title{
            position: relative;
            top: -25px;
            @extend .d-ib;
            width: 360px;
            height: 110px;
            line-height: 145px;
            text-indent: 12px;
            background: url('http://cdn01.51autoimg.com/apps/zhuanti.51auto.com/autoshow618.20160608/css/images/md-tit.png') no-repeat;
            span{
                @extend .d-ib;
                @extend .md-img;
            }
        }
        .choose-btns{
            width: 544px;
            height: 54px;
            margin: 23px auto 31px auto;
            background: #231815;
            span{
                @include f_l;
                @extend .d-ib;
                width: 136px;
                height: 100%;
                font-size: 0;
                line-height: 54px;
                cursor: pointer;
                b{
                    @extend .d-ib;
                    vertical-align: middle;
                    @extend .md-img;
                }
            }
            .active{
                background-color: red;
            }
        }
        .modal-list{
            height: 811px;
            margin: 0 34px 0 146px;
            overflow: hidden;
        }
        //-------------scroll start-------------
        .list-box{
            float: left;
            width: 962px;
            height: 811px;
            overflow: auto;
            padding-bottom: 350px;
        }
        .scroll_container {
            overflow: hidden;
            position: relative;
        }
        .scroll_absolute {
            position: absolute;
        }
        .scroll_vertical_bar {
            position: absolute;
            top: 0;
            right: 0;
            width: 16px;
            height: 100%;
            margin: 0;
            padding: 0;
        }
        .scroll_track {
            position: relative;
            background: url('http://cdn01.51autoimg.com/apps/zhuanti.51auto.com/autoshow618.20160608/css/images/scroll-bc.png');
        }

        .scroll_drag {
            position: relative;
            top: 0;
            left: 0;
            background-color: #131319;
            cursor: pointer;
            @include borderRadius(8px);
        }

        .scroll_arrow {
            display: block;
            text-indent: -20000px;
            cursor: pointer;
        }

        .scroll_vertical_bar .scroll_arrow {
            height: 16px;
        }
        //-------------scroll end-------------
    }
}
//---------------- modal end -------------------------